<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="QuickServe360"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickServe360">
        <activity
            android:name=".ManageMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".EditRestaurantActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".AdminStatisticsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ViewReviewsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ManageOrdersActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".ManageRestaurantsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".RoleSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WriteReviewActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantsListActivity"
            android:exported="false" />
        <activity
            android:name=".OrderConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".CartAdapter"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".CartItem"
            android:exported="false" />
        <activity
            android:name=".RestaurantAdapter"
            android:exported="false" />
        <activity
            android:name=".PreferencesRestaurantsActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryRestaurantsActivity"
            android:exported="false" />
        <activity
            android:name=".DishAdapter"
            android:exported="false" />
        <activity
            android:name=".RestaurantDishesActivity"
            android:exported="false" />
        <activity
            android:name=".LocationSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".AllRestaurantsActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantGridAdapter"
            android:exported="false" />
        <activity
            android:name=".CategoryAdapter"
            android:exported="false" />
        <activity
            android:name=".BestRestaurantsAdapter"
            android:exported="false" />
        <activity
            android:name=".Restaurant"
            android:exported="false" />
        <activity
            android:name=".PreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>